.highlights {
  font-size: 14px;
  margin-right: -$base-gutter;
  width:100%;

  ul.highlights-list {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;

    @media screen and (max-width: 480px) {
      display: block;
    }
  }
}
